@model EventManagementSystem.Models.Statemodel

@{
    ViewData["Title"] = "Edit State";
}
<h6>Admin->Countries->Edit State</h6>


<form asp-action="EditState" method="post">
	<input type="hidden" asp-for="StateId" />
    <div class="form-group">
        <label asp-for="CountryId" class="control-label">Country</label>
        <select asp-for="CountryId" class="form-control" asp-items="ViewBag.Countries">
            <option value="">Select a country</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="StateName" class="control-label">State</label>
        <input asp-for="StateName" class="form-control" />
        <span asp-validation-for="StateName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="States" class="btn btn-secondary">Back</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}